<h1>Hello welcome to orders page</h1>

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link rel="stylesheet" href="sc.css">

</head>
<body>


    <div class="container">
    <div class="heading">
    <h1>
      <span class="shopper">Your</span> Shopping Cart
    </h1>
    <a href="#" class="visibility-cart transition is-open">X</a>
    </div>


    <div class="table">

      <div class="layout-inline row th">
        <div class="col col-pro">Product</div>
        <div class="col col-price align-center ">
          Price
        </div>
        <div class="col col-qty align-center">QTY</div>
        <div class="col">GST</div>
        <div class="col">Total</div>
      </div>

      <div class="layout-inline row">

        <div class="col col-pro layout-inline">
        </div>

        <div class="col col-price col-numeric align-center ">
        </div>

        <div class="col col-qty layout-inline">
          <a href="#" class="qty qty-minus">-</a>
            <input type="numeric" value="0" />
          <a href="#" class="qty qty-plus">+</a>
        </div>

        <div class="col col-vat col-numeric">

        </div>
        <div class="col col-total col-numeric">
        </div>
      </div>



       <div class="tf">
         <div class="row layout-inline">
           <div class="col">
             <p>GST :</p>
           </div>
           <div class="col"></div>
         </div>
         <div class="row layout-inline">
           <div class="col">
             <p>Shipping :</p>
           </div>
           <div class="col"></div>
         </div>
          <div class="row layout-inline">
           <div class="col">
             <p>Total :</p>
           </div>
           <div class="col"></div>
         </div>
       </div>
  </div>

    <a href="#" class="btn btn-update">Update cart</a>

</div>



</body>
</html>