<h1>Durian orders</h1><br/>

<!-- Shopping Cart Orders -->
<table class="table table-striped">
	<thead>
	  <tr>
	  	<th scope="col">S/N</th>
	    <th scope="col">Name</th>
	    <th scope="col">Price Per Kg</th>
	    <th scope="col">Weight</th>
	  </tr>
	</thead>

	<tbody>
    <% @shopping_cart_items.each_with_index do |item, index| %>
      <tr>
      	<td>
        	<%= index + 1 %>
        </td>
        <td>
        	<%= item["name"] %>
        </td>

        <td>
        	<%= "$" + item["price_per_kg"].to_s %>
        </td>

         <td>
        	<%= item["weight"] + "kg" %>
        </td>


      </tr>
    <% end %>

	</tbody>
</table>


<!-- Payment section -->