* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
}

@font-face {
    font-family: 'Roboto';
}


.shopper {
  text-transform: lowercase;
  font: 2em 'Roboto', sans-serif;
  line-height: 0.5em;
  display: inline-block;
  font-weight: bold;
}

h1 {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 2.5em;
}

h4 {
  font-family: 'Lato', sans-serif;
  font-size: 2em;
}

h4.card-title {
  font-weight: 600;
}

h5 {
  font-family: 'Lato', sans-serif;

}

p.card-text {
  font-size: 12px;
}

.navbar-brand {
  font-family: 'Arvo', serif;
}

p {
  font-size: 1.5em;
  color: #222B36;
  font-family: 'Lato', sans-serif;
}

input {
  padding: 0.5em 0.3em;
  font-size: 1.4em;
  color: #8a8a8a;
}

img {
  max-width: 100em;
  max-height: 25em;
  width: 100%;
  overflow: hidden;
  margin-right: 1em;
}

a {
  text-decoration: none;
}

.container1 {
  max-width: 75em;
  width: 95%;
  margin: 40px auto;
  overflow: hidden;
  position: relative;

  border-radius: 0.6em;
  background: #F6F8FA;
  box-shadow: 0 0.5em 0 rgba(138, 148, 152, 0.2);
}

.heading {
  padding: 1em;
  position: relative;
  z-index: 1;
  color: #f7f7f7;
  background: #1BDB4A;
}

.cart {
  margin: 2.5em;
  overflow: hidden;
}

.cart.is-closed {
  height: 0;
  margin-top: -2.5em;
}

.table1 {
  background: #ffffff;
  border-radius: 0.6em;
  overflow: hidden;
  clear: both;
  margin-bottom: 1.8em;
}


.layout-inline > * {
  display: inline-block;
}

.align-center1 {
  text-align: center;
}

.th1 {
  background: #1BDB4A;
  color: #fff;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1.5em;
}

.tf1 {
  background: #1BDB4A;
  text-transform: uppercase;
  text-align: right;
  font-size: 1.2em;
}

.tf p {
  color: #fff;
  font-weight: bold;
}

.col1 {
  padding: 1em;
  width: 12%;
}

.col-pro1 {
  width: 44%;
}

.col-pro1 > * {
  vertical-align: middle;
}

.col-qty1 {
  text-align: center;
  width: 17%;
}

.col-numeric1 p {
  font: bold 1.8em lato;
}

.col-total p {
  color: #12c8b1;
}

.tf .col {
  width: 20%;
}

.row > div {
  vertical-align: middle;
}

.row-bg2 {
  background: #f7f7f7;
}

.visibility-cart {
  position: absolute;
  color: #fff;
  top: 0.5em;
  right: 0.5em;
  font:  bold 2em lato;
  border: 0.16em solid #fff;
  border-radius: 2.5em;
  padding: 0 0.22em 0 0.25em ;
}

.col-qty > * {
  vertical-align: middle;
}

.col-qty > input {
  max-width: 2.6em;
}


a.qty {
  width: 1em;
  line-height: 1em;
  border-radius: 2em;
  font-size: 2.5em;
  font-weight: bold;
  text-align: center;
  background: #1BDB4A;
  color: #fff;
}

a.qty:hover {
  background: #3b9ac6;
}

.btn {
  padding: 10px 30px;
  border-radius: 0.3em;
  font-size: 1.4em;
  font-weight: bold;
  background: #1BDB4A;
  color: #fff;
}

.btn:hover {
  box-shadow: 0 3px 0 rgba(59,154,198, 0)
}

.btn-update {
  float: right;
  margin: 0 0 1.5em 0;
}

.transition {
  transition: all 0.3s ease-in-out;
}

@media screen and ( max-width: 755px) {
  .container {
    width: 98%;
  }

  .col-pro {
    width: 35%;
  }

  .col-qty {
    width: 22%;
  }

  img {
    max-width: 100%;
    margin-bottom: 1em;
  }
}

@media screen and ( max-width: 591px) {

}

body {
  padding-top: 90px;
  margin-bottom: 60px; /* Margin bottom by footer height */
}

.addCartButton {
  padding: 10px;
}

.carouselImage {
  padding-bottom: 19px;
}

html {
  position: relative;
  min-height: 100%;
}

footer {
  font-size: 90%;
  position: absolute;
  width: 100%;
  height: 80px; /* Set the fixed height of the footer here */
  line-height: 80px; /* Vertically center the text there */
  background-color: #f5f5f5;
  padding-bottom: 90px;
  align-items: center;
}

#delivery_address {
	text-transform: capitalize;
}

.breadcrumbs a.current, .breadcrumbs a:hover {
  color: #111;
  text-decoration: none;
}

.breadcrumbs a.cart-greyout {
  color: grey;
  text-decoration: none;
}

.breadcrumbs {
  padding: 15px;
}

.cart-image-column {
	width: 260px;
}

.cart-weight-column {
	margin: auto;
	width: 180px;
	display: flex;
}

.cart-image {
	width: 250px;
}

.capitalize {
	text-transform: capitalize;
}

.navbar-brand > a {
	text-decoration: none;
	margin-right: 500px;
  color: white;
}

.navbar-brand > a:hover {
	text-decoration: none;
	color: white;
}

.compare {
	min-height: 400px;
}

.empty {
	min-height: 350px;
	text-align: center;
}

.payment-success {
	min-height: 350px;
	text-align: center;
}